@keyframes animasi {
    20%{
        background: #777;
    }
    40%{
        background: green;
    }
    60%{
        background: yellow;
    }
    80%{
        background: red;
    }
    100%{
        background: pink;
    }
}

.animasi-1 {
    animation: animasi ease-in-out 2s infinite;
    background-color: #777;
    /* border: solid; */
}
body {
    background-color: #777;
}




/* bawaan */
.kontainer{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.konten {
    width: 80%;
}
table {
    border: #222 solid;
}
p{
    color: white;
}
body {
    background-color: #555;
}
th {
    text-align: center;
    background-color: #333;
    border: #222 solid;
}
tr {
    border: #222 solid;
}
td {
    border: #222 solid;
  
    text-align: center;
}
.foto {
    height: 45PX;
    width: 45PX;
    /* padding: 0; */
    /* background-color: red; */
}